* {
  margin: 0;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

header {
  background-color: rgb(72, 72, 72);
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.5em;
  padding-left: 40px;
}

.main--cont {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: 20px;
}

.components--cont {
  display: flex;
  height: 100%;
}

.cv--cont,
.edit--cont {
  width: 50%;
  height: 100%;
  margin: 10px 20px;
  background-color: whitesmoke;
  border-radius: 7px;
}
